.DS_Store
builds/
build/
obj/
bin/
gen/
.metadata/
.settings/
xcuserdata/
Release/
Debug/
dist/
titanium/tapstream_ios/*.zip

*.lock
*.class
*.suo
*.xcuserstate
*.pyc


# Visual studio stuff
*.cdf
*.cache
*.obj
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.res
*.ipch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*_manifest.rc
*.bsc
*.sbr
*.sdf
*.opensdf
