<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapstream.exampleasdf234fsad"
    android:versionCode="7"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.android.vending.BILLING" />
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tapstream.exampleasdf234fsad.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".ReferrerReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        
        <!-- 
        <receiver android:name="com.tapstream.sdk.ReferrerReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        -->
        
        <!-- Used for Google Play Store Campaign Measurement-->;
		<service android:name="com.google.analytics.tracking.android.CampaignTrackingService" />
		<!-- 
		<receiver android:name="com.google.analytics.tracking.android.CampaignTrackingReceiver" android:exported="true" >
		  <intent-filter>
		    <action android:name="com.android.vending.INSTALL_REFERRER" />
		  </intent-filter>
		</receiver>
        -->
        
        
    </application>

</manifest>